.flex-container {
            display: flex;
            /* flex-direction: row; not needed -- default value */
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;            
        }
        
        .galleryItem-details p {
    text-align: left;
    margin: auto 10px;
    font-size: 4px;
}